header {
    background: black url("/images/Randompc2\ \(1\).jpeg") center / 100%; /* Combined background properties */
    height: 200px;
    padding: 30px;
    text-align: center;
}

header img {
    max-width: 400px;
    height: auto;
}

.hamburger {
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hamburger span {
  
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(235, 226, 227);
}


#X{
  color: rgb(253, 253, 253);

}

.sidebar {
    text-align: center;
    flex-direction: column;
    position: absolute;
    color: green;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: -10px;
    right: 0px;
    display: none;
}

.sidebar li{
  margin: 0;
  width: 100%;

	
}
.sidebar a {
    width: 100%;
    display: flex;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 50px;
    margin: 0;
}

.sidebar a:hover{
    background-color: rgb(182, 180, 180);
     
}


@media (max-width: 460px) {
      .sidebar {
      text-align: center;
      flex-direction: column;
      position: absolute;
      color: green;
      width: 250px;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
      display: none;
      
  }
  .sidebar li{
    width: 100%;

    
  }
  .sidebar a {
      width: 100%;
      display: flex;
      text-align: left;
      padding-bottom: 20px;
      padding-left: 50px;
      margin: 0;
  }

  .sidebar a:hover{
      background-color: rgb(182, 180, 180);
      
  }
}